.clicksContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 300;
}

.clicksContainer button {
  margin: 10px;
  padding: 25px;
  font-weight: 800;
  border: 0;
  border-radius: 5px;
}

.even {
  background-color: green;
}

.odd {
  background-color: brown;
}
